@charset "utf-8"
.wrapper
  padding-top:60px
  margin-left:80px

.container
  margin-left: 200px
.clearfix
  display inline-block
  &:after
    display block
    content "."
    height 0
    line-height 0
    clear both
    visibility hidden
