@charset "utf-8"
body
  background-color #f3f5f7
.wrapper
  padding 90px 26px 0 20px
  margin-left:80px
.container
  margin-left: 200px
.clearfix
  display block
  &:after
    display block
    content "."
    height 0
    line-height 0
    clear both
    visibility hidden



